<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>User</h3>
			<p>Name: <%= @user.name if @user.name %></p>
			<p>Email: <%= @user.email if @user.email %></p>
			<p>Ministry: <%= @user.ministry if @user.ministry %></p>

		</div>
		<div class="col-md-8">
			<h3> My Thanks </h3>
			<%= will_paginate @thanks %>

			<% @thanks.each do |thank| %>
			  <p> <%=current_user.name %> is thankful for <%= thank.text %></p>
			<% end %>
		</div>
	</div>
</div>